/*.class or #id*/
/*CTRL + D select all*/

/*.chapitreTitle | .bigPart | .sousPart | .soussousPart | .importantWord | .summary | .cours | .vocabDefinition*/
.chapitreTitle
{
	color: #ff4411; 
	font-size: 48px; 
	font-family: 'Signika', sans-serif; 
	padding-bottom: 10px;
}

.cours
{
	border-left: 4px solid white;
	font-family: 'Inder', sans-serif; 
	line-height: 28px; 
	margin-bottom: 15px; 
	color: #666;
}


body{
	background-color: rgb(47, 47, 74);
}
header
{
	align-items: center;
}
header nav
{
	width: 90%;
	height: 10%;
}

header ul
{
	list-style-type: none;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	border: solid 1px #ffffff;
	border-radius: 4px;
}

header li
{
	width: 800%;
	height: 100%;
	background-color:aquamarine; 
	text-align: center;
	padding-left: 0;
	border-left: solid 1px #ffffff;
}

header li:first-child
{
	border-left: 0;
}
header li:hover
{
	background-color: blueviolet;
}

header li a
{
	display: inline-block;
	text-decoration: none;
	display: block;
	min-width: 7.5rem;
	height: 2.75rem;
	line-height: 2.75rem;
	padding: 0 1.25rem 0 1.45rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	border-bottom: 0;
}
